

.front-links {
    margin-top: 0px;
} 

.fmlImg {
    width: 80px;
}

.fml p{
    font-size: 16px;
    padding: 10px;
    
}

a.fml {
    margin: 0px 50px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.act-btn {
    color: black;
    margin: auto;
    margin-top: 1.2rem;
    font-size: 9rem;
    text-decoration: none;
}

.activity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(images/hill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}


.home-btn-links:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.4s;
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    font-size: 25px;
    font-family: 'Noto Sans JP' ;
    color: black;

}

#logo {
font-size: 2rem;
padding: 0rem 0rem 0rem 2rem;
margin-top: 0;
}

/* Location-Meetups CSS */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.wrapperBody {
    display: flex;
    flex-direction: row;
}

.activityName {
    text-align: center;
    font-weight: lighter;
    font-size: 7rem;
    margin: 0;
    border-bottom: 1px solid black;
  
}

.locationList {
    display: flex;
    flex-direction: column;
    
}


.LocationMeetupContainer {
    color: #495264;
    display: flex;
    height: 900px;
    font-size: 16px;
}

.locationMap {
    margin: 4rem 0 ;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.rightColumn {
    margin: 3rem 0;
    text-align: center;
    justify-content: center;
}

.btn {
    border: none;
    color: black;
    padding: 30px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    width: 80%;
    border: none;
    font-weight: lighter;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.4s;
  }

.widgetWrapper {
    height: 900px;
    width: 65%;
    font-size: 40px;
    text-align: center;
}


/* MEETUP PAGE */

.TrailforksWidgetMap {
    margin: 4rem 0;
    width: 400px;
    height: 400px;
    margin: 1rem;
}


.meetupList {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    text-align: center;
}

.postStart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cardList {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 65%;
    margin: 0 2rem;
}

.meetupList h2 {
    font-size: 4rem;
    font-weight: lighter;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.meetupCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.386);
    color: black;
    width: 85%;
    text-align: left;   
    border-radius: 7px;
    height: auto;
    padding:1rem;
    margin-bottom: 1rem;
}

.meetupCardInActive {
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 57, 57, 0.303);
    color: black;
    width: 85%;
    text-align: left;   
    border-radius: 7px;
    height: 12rem;
}

.skillDropdown {
    background-color: white;
    color: black;
    margin: 1rem 2rem;
    padding-top: 0px;
    text-align: center;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    border: none;
    outline: none !important;
}



.meetupCard p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}

.meetupCard h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.addButton {
    color: black;
    margin-left: 10rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;  
    width: auto;
    border: none;
    padding: 0px;
}

.flagButton {
    border: none;
    background-color: rgba(242, 242, 242, 0.386);
    border-radius: 7px;
    height: 30px;
    color: rgb(21, 181, 21);
    font-size: 1.25rem;
    margin: 1.1rem;

}

.flagButton:hover {
    color: lightgray;
}

/* DEFAULT NAVBAR SETTINGS */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.navAuth{
    display: flex;
    flex-direction: row;
}

.navbar li {
font-size: 1.25rem;
margin-left: auto;
}

.navbar li a {
display: block;
color: black;
text-align: center;
padding: 1rem 2rem 0 0;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
color: rgb(191, 188, 188);
}


.imagesWrapper {
    width: 50%;
}

.mapImages {
    width: 100%;
}

/* form styling */

.addPostFormWrapper{

        width: 60%; 
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
}

.addPostForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30rem;
    height: 75%;
    text-align: center;
    justify-content: center;
    padding: 1rem 0 1rem 1rem;
}

.backOrSubmit {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.pst-frm-bck-btn {
    border: none;
    border-radius: 7px;
    height: auto;
    color: black;
    width: auto;
    font-size: 30px;
}

.pst-frm-bck-btn:hover {
   color:  rgba(242, 242, 242, 0.386);
}

.submitBtn:hover {
    color:  rgba(242, 242, 242, 0.386);
}

.frm-usr-ipt {
    background-color: rgba(242, 242, 242, 0.386);
    width: 80%;
    font-size: 1rem;
    margin: auto;
    border-radius: 0.3rem;
    height: 40px;
    text-decoration: none !important;
    border: none;
    outline: none !important;
    border: none;
}

.submitBtn {
    margin: 1rem;
    font-size: 2rem;
    height: auto;
    width: auto;
    border: none !important;
}

/* REGISTER PAGE */

.register-wrapper {
    justify-content: center;
    width: 60%;
    height: 40%;
    text-align: center;
}

.rego-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.rego-button {
    color: black;
    margin: auto;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    text-decoration: none !important;
    border: none !important;
    background-color: inherit;
    outline: none;
}

.rego-button:hover {
    color:  rgba(242, 242, 242, 0.386);
}


.register-column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    margin: 4rem 0rem 0rem 12rem;
}
.rego-label {
    width:10rem;
}

.rego-input {
    height: 25px;
    font-size: 18px;
    margin-left: 1rem;
    width:15rem;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;

}

.rego-link {
    color: white;
    text-decoration: none !important;
}


/* PROFILE PAGE  */

.profileWrapper {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: #FFFAFA;
    color: black;
    height: 800px;
    text-align: center;
}

.profile-title {
    /* font-family: 'Abril Fatface', cursive !important; */
    font-family: 'Gruppo', cursive !important;

    font-weight: light;
}

.profColOne {
    height: 100%;
    width: 30%;
    padding: 10px;
    margin: 0px 15px 0xp 15px;
    border-right: 1px solid #AAAAAA;

}

.profileImage {
    height: 25%;
    width: 25%;
}

.profColTwo {
    height: 90%;
    width: 70%;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.profCardList {
    display: flex;
    flex-wrap: wrap;
}

.profImg {
    width: 100%;
    border-radius: 50%;
}




.profInfo {
    height: 30vh;
}

.profInfo h4 {
    font-size: 1.4rem;
    margin: 2px;
}

.profInfo p {
    font-size: 1.1rem;
}

.profilePostCard {
    display: flex;
    flex-direction: column;

    background-color: #FFFAFA;
    color: #495264;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;

    width: 45%;

    text-align: center;   
    
    border: 1px solid #AAAAAA;
    border-radius: 7px;
    box-shadow: black;
}

.profilePostCard p {
    margin: 2px;
}


.profileCardHeader {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.cardTitle {
    /* font-family: 'Abril Fatface', cursive !important; */
    font-family: 'Gruppo', cursive !important;

    font-weight: 600;
}


.profileBlurb {
    font-size: .9rem
}

.skillAdd {
    display: flex;
    flex-direction: row;
}

